html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.menu {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 5px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: #e3e5ee;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.menu button {
  border: none;
  margin-right: 10px;
  background-color: #62636a;
  color: white;
  padding: 0 32px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.sort {
  display: flex;
  align-items: center;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__ico img {
  width: 35px;
  height: 35px;
  opacity: 70%;
  transition: opacity 0.2s ease;
}

#characters {
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  flex-wrap: wrap;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.character__block {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  flex-basis: 100%;
  margin: 10px;
  border: 1px solid #444444;
}

.character__header {
  display: flex;
}

.character__main-info {
  display: flex;
  flex-direction: column;
}

.character__image {
  width: 150px;
  min-height: 150px;
  margin-right: 15px;
}

.character__name {
  font-weight: bold;
  text-align: left;
}

.character__species {
  font-size: 15px;
  text-align: left;
}

.character__date {
  font-size: 15px;
  color: #555555;
  margin: 10px 0;
}

.character__location {
  font-size: 15px;
  margin-top: 10px;
}

.character__episodes__list {
  max-width: 350px;
  font-size: 14px;
  margin-bottom: auto;
}

@media screen and (min-width: 700px) {
  .character__block {
    flex-basis: calc(50% - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .character__block {
    flex-basis: calc(100% / 3 - 20px);
  }
}
